@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
	background-color: #eff3f5!important;
	font-family: 'Inter'!important;
	overflow: hidden;
}

section {
	width: 50%;
	height: 100%;
	position: absolute;
}

section#welcome {
	background-color: #130f40;
	background-image: url(../images/header/floor_white.png);
	padding: 50px 60px;
	right: 0;
}

section#welcome::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #15114A, rgba(9,6,28,0.97));
	z-index: 0;
}

section#welcome #align-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -243px;
	z-index: 1;
}

section#welcome #align-logo #palco {
	content: '';
	background-image: url(../images/header/palco.png);
	width: 486px;
	height: 242px;
	position: relative;
	bottom: -60px;
}

section#welcome #align-logo #palco #logo {
	background-image: url(../images/header/logo.png);
	width: 281px;
	height: 341px;
	position: relative;
	top: -300px;
	left: 102px;
	animation: logoMove 1s infinite;
}

section#welcome #align-logo  #palco .title {
	max-width: 400px;
	position: relative;
	z-index: 1;
	text-align: center;
	left: 50%;
	top: -330px;
	margin-left: -200px;
}

section#welcome #align-logo  #palco .title h1 {
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

section#welcome #align-logo  #palco .title p {
	color: #00a8ff;
	font-size: 13px;
	font-weight: 600;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}


section#form-login {
	background-color: white;
	background-image: url(../images/header/floor.png);
	left: 0;
}

section#form-login::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient(to right, white 15%, rgba(255,255,255,0.5));
	z-index: 0;
}

section#form-login .container {
	max-width: 400px!important;
}

section#form-login .login-form {
	position: relative;
	z-index: 1;
}

section#form-login .title {
	background-color: #0097e6;
	background-image: url(../images/header/floor.png);
	height: 30%;
	position: relative;
	margin-bottom: 30px;
	padding: 50px 0;
	z-index: 1;
	display: flex;
	align-items: center;
}

section#form-login .title::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient(to right, #0097e6 30%, transparent);
	z-index: -1;
	top: 0;
}

section#form-login .title h1 {
	font-weight: bold;
	font-size: 35px;
	color: white;
	text-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

section#form-login .title p {
	font-size: 14px;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

section#form-login form#login {
	position: relative;
	z-index: 1;

}

section#form-login form#login label {
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}

section#form-login form#login input {
	background-color: #fafafa;
	width: 100%;
	padding: 8px 15px;
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.1);
	outline: none;
	transition: linear 0.15s;
	font-size: 13px;
}

section#form-login form#login input:hover {
	border-color: rgba(0,0,0,0.2);
}

section#form-login form#login input:focus,
section#form-login form#login input:active {
	border-color: #00a8ff;
}

section#form-login form#login button {
	background-color: #0097e6;
	padding: 10px 60px;
	border: none;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	margin: 15px 0;
	transition: all 0.2s;
}

section#form-login form#login button:focus,
section#form-login form#login button:hover,
section#form-login form#login button:active {
	background-color: #00a8ff;
}

section#form-login form#login .signup {
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	position: relative;
	margin-top: 15px;
}

section#form-login form#login .signup::after {
	content: '';
	width: 30%;
	border: 0.5px solid rgba(0,0,0,0.05);
	position: absolute;
	left: 0;
	top: -12px;
}

section#form-login .about {
	width: 500px;
	position: absolute;
	z-index: 1;
	left: 30px;
	bottom: 20px;
	font-size: 13px;
	color: rgba(0,0,0,0.5);
}

#player {
	background-color: white;
	box-shadow: 0 -10px 30px 3px rgba(0,0,0,0.1);
	padding: 20px 30px 0 10px;
	border-radius: 10px 10px 0 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	z-index: 2;
}

#player .avatar {
	background-position: center;
	width: 64px;
	height: 60px;
	position: relative;
	bottom: 0;
}

#player .info {
	display: flex;
	flex-direction: column;
}

#player .info h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

#player .info p {
	font-size: 14px;
	font-weight: 600;
	color: rgba(0,0,0,0.5);
}

#player .play {
	background: #D2EFFF;
	width: 50px;
	height: 50px;
	border-radius: 40px;
	position: relative;
	margin: -18px 0 0 15px;
	cursor: pointer;
}

#player .play::after {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f04b";
	color: #5B8BA8;
	font-size: 13px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#player .listeners {
	background: #0097e6;
	height: 50px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 50px;
	padding: 0 20px 0 45px;
	border-radius: 40px;
	position: relative;
	margin: -18px 0 0 15px;
	cursor: pointer;
}

#player .listeners::before {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f0c0";
	color: white;
	font-size: 13px;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Keyframes */

@keyframes logoMove {
	0% {top: -300px;}
	50% {top: -310px;}
	100% {top: -300px;}
}

/* Bootstrap */
section#form-login form.login .form-group input:focus .input-group-text,
section#form-login form.login .form-group input:active .input-group-text {
	border: 1px solid #00a8ff!important;
}

.input-group-text {
	background-color: white!important;
	padding: .375rem 1rem!important;
	border-radius: 0 6px 6px 0!important;
}

@media only screen and (max-width: 1000px) {
	section#form-login {
		width: 100%;
		height: 100%;
	}

	section#welcome {
		display: none;
	}
}